<div class="bg-blue">
  <div class="row margin-0 vertical-align bg-white header">
    <img src="assets/img/ic_menu.svg" style="width: 50px;height: 24px;" />
    <img class="col-1" src="assets/img/Business Logo.svg" style="width: 65px;" />
    <div class="col-1" style="line-height: 20px;">
      <div class="font-w600 text-black">Burger King</div>
      <div class="text-gray font-s14">Uptown Mall</div>
    </div>
    <div class="col-2 offset-md-8">
      <div class=" row margin-0 vertical-align float-r">
        <img class="col-1" src="assets/img/ic_fullscreen.svg" style="width: 50px;height: 24px;" />
        <img class="col-1" src="assets/img/ic_notifications.svg" style="width: 50px;height: 24px;" />
        <img class="col-1" src="assets/img/Oval.svg" style="width: 65px;" />
      </div>
    </div>
  </div>
  <div class="text-orange font-s14" style="padding: 10px 45px;">
    Queue  Management <img src="assets/img/Shape.svg" class="padding-0-10" /> <span class="text-gray-l">Cashier 3</span>
  </div>
  <div class="row margin-0 bg-white">
    <div class="col text-gray font-s12" style="    padding: 10px 45px; line-height: 25px;">
      Payment
      <div class="text-black font-s26 font-w700">Cashier 4</div>
      Single Serving<img src="assets/img/ic_info.svg" />
    </div>
    <div class="col-4 offset-md-6 vertical-align">
      <div class=" row margin-0 vertical-align float-r col-11 text-center font-w600 font-s14">
        <div class="col border-orange">Queue Group Details</div>
        <div class="col">
          <div class="col border-orange"><img src="assets/img/ic_history.svg" class="padding-10-r" />Queue History</div>
        </div>
        <div class="col fill-orange" (click)="createComponentModal()"><img src="assets/img/ic_add.svg" class="padding-10-r" />Add Queue</div>
      </div>
    </div>
  </div>
  <div style="padding: 30px 45px;">
    <input class="form-control" placeholder="Search Queue Number, Mobile Number or Name" [(ngModel)]="searchText" />
    <img src="assets/img/ic_search.svg" style="position: absolute; top: 255px; right: 55px;" />
  </div>
  <div class="row margin-0" style="padding: 0 45px;">
    <div class="col-8 bg-blue box-shadow padding-0">
      <div class="text-gray border-b padding-20 bg-white">
        <div class="font-s14 font-w700 uppercase">On-going Queue</div>
        <div class="font-s12">List of all on-going customer queues</div>
      </div>
      <div class="row margin-0 text-black font-w700 font-s12 border-b padding-10-20 bg-white">
        <div class="col">Queue Number</div>
        <div class="col">Customer Info</div>
        <div class="col">Type / Time Queued</div>
        <div class="col">Options</div>
        <div class="col">Serve</div>
      </div>
      <div class="padding-10-20">
        <div *ngFor="let data of jsonData | filter:searchText" class="row margin-0 bg-white margin-15-b queue vertical-align">
          <div *ngIf="data.isServed === false" class="row margin-0 vertical-align" style="padding-top: 20px; padding-bottom: 20px;">
            <div class="col font-w700 font-s26 text-black">
              <img src="assets/img/ic_draggable.svg" class="padding-10-r" />A{{ data.queue_number }}
            </div>
            <div class="col font-s14 text-black">
              <div style="color: #191444;">
                <img src="assets/img/ic_person.svg" class="padding-5-r" />
                {{ data.customer_name }}
              </div>
              <div style="color: #191444;">
                <img src="assets/img/ic_mobile.svg" class="padding-5-r" />
                (+63)9{{ data.mobile_number }}
              </div>
              <div style="color: #191444;">
                <img src="assets/img/ic_people.svg" class="padding-5-r" />
                {{ data.number_of_people }} People
              </div>
            </div>
            <div class="col">
              time
            </div>
            <div class="col row margin-0">
              <div class="col vertical-align">
                test
              </div>
              <div class="col-3 vertical-align" style="background: #F3F6FC; height: 52px;">
                <img src="assets/img/ic_arrow_full_right.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white padding-10-20 row margin-0">
        <div class="col">
          Total on-going queues
        </div>
        <div class="col text-right font-w700">
          {{ counter }} Queues
        </div>
      </div>
    </div>
    <div class="col-4 padding-0-r">
      <div class="text-gray border-b padding-20 bg-white">
        <div class="font-s14 font-w700 uppercase">Current Serving</div>
        <div class="font-s12">Customer queues that are called and served</div>
      </div>
      <div class="row margin-0 text-black font-w700 font-s12 border-b padding-10-20 bg-white">
        <img src="assets/img/ic_info.svg" class="padding-0 margin-5-r" style="width: 16px;" />Finish serving a queue before you can serve another one
      </div>
      <div class="bg-blue box-shadow padding-10-20">
        <div *ngFor="let data of jsonData" class="row margin-0 bg-white margin-15-0 queue vertical-align">
          <div *ngIf="data.isServed === true" class="padding-20">
            <div class="font-w700 text-gray text-center uppercase font-s12">
              Queue Number
              <div class="font-s40 text-black">
                A{{ data.queue_number }}
              </div>
            </div>
            <div class="row margin-0">
              <div class="col text-gray">
                Customer Name
              </div>
              <div class="col text-right">
                {{ data.customer_name }}
              </div>
            </div>
            <div class="row margin-5-0">
              <div class="col text-gray">
                Mobile Number
              </div>
              <div class="col text-right">
                (+63)9{{ data.mobile_number }}
              </div>
            </div>
            <div class="row margin-0">
              <div class="col text-gray">
                Number of People
              </div>
              <div class="col text-right">
                {{ data.number_of_people }} People
              </div>
            </div>
            <div class="offset-md-8 col-4 text-center uppercase font-w700 text-green border-green vertical-center padding-10 margin-20-t">
              <img src="assets/img/ic_check.svg" class="padding-5-r" />Done
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>