<div class="text-center margin-50-t">
    <div class="font-s40 font-w700">Add Queue</div>
    <div class="font-s20 text-gray">Fill-up fields with the customer’s data</div>
</div>
<div class="col-5 font-s12 text-gray font-w700 margin-50-t" style="margin: 0 auto;">
    CUSTOMER DETAILS
    <!--  -->
    <form [formGroup]="dataForm">
        <div class="row margin-0 margin-10-t">
            <div class="col padding-0-l">
                <input class="form-control" formControlName="mobile_number" name="mobile_number" />
            </div>
            <div class="col padding-0-r">
                <input class="form-control" formControlName="number_of_people" name="number_of_people" />
            </div>
        </div>
        <div class="margin-20-t">
            <input class="form-control" placeholder="Name (Optional)" formControlName="customer_name" name="customer_name" />
        </div>
        <div class="col-3 margin-auto fill-orange text-center font-s20 margin-50-t" (click)="add()">Submit</div>
    </form>
    <!--  -->
    <!-- <div class="row margin-0 margin-10-t">
        <div class="col padding-0-l">
            <input class="form-control" />
        </div>
        <div class="col padding-0-r">
            <input class="form-control" />
        </div>
    </div>
    <div class="margin-20-t">
        <input class="form-control" placeholder="Name (Optional)" />
    </div>
    <div class="col-3 margin-auto fill-orange text-center font-s20 margin-50-t">Submit</div> -->
</div>