/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Source Sans Pro' !important;
}

.margin-auto {
    margin: 0 auto;
}

.margin-0 {
    margin: 0 !important;
}

.margin-5-0 {
    margin: 5px 0 !important;
}

.margin-15-0 {
    margin: 15px 0 !important;
}

.margin-10-t {
    margin-top: 10px !important;
}

.margin-20-t {
    margin-top: 20px;
}

.margin-50-t {
    margin-top: 50px !important;
}

.margin-15-b {
    margin-bottom: 15px !important;
}

.margin-5-r {
    margin-right: 5px;
}

.padding-0 {
    padding: 0 !important;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.padding-0-10 {
    padding: 0 10px;
}

.padding-10-20 {
    padding: 10px 20px;
}

.padding-0-l {
    padding-left: 0 !important;
}

.padding-0-r {
    padding-right: 0 !important;
}

.padding-5-r {
    padding-right: 5px;
}

.padding-10-r {
    padding-right: 10px;
}

.font-w600 {
    font-weight: 600;
}

.font-w700 {
    font-weight: 700;
}

.font-s12 {
    font-size: 12px;
}

.font-s14 {
    font-size: 14px;
}

.font-s20 {
    font-size: 20px;
}

.font-s26 {
    font-size: 26px;
}

.font-s40 {
    font-size: 40px;
}

.text-black {
    color: #191444 !important;
}

.text-gray {
    color: #74728F;
}

.text-gray-l {
    color: #A3A1B5;
}

.text-orange {
    color: #FE8F02;
}

.text-green {
    color: #1E9032;
}

.text-right {
    text-align: right;
}

.bg-blue {
    background-color: #F7F9FC;
}

.bg-white {
    background-color: #ffffff;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.vertical-center {
    display: flex;
    justify-content: center;
}

.float-r {
    float: right;
}

.header {
    box-shadow: 0px 2px 12px rgba(64, 107, 194, 0.1), 0px 2px 12px rgba(64, 107, 194, 0.06);
    padding: 20px;
}

.box-shadow {
    box-shadow: 0px 2px 6px rgba(64, 107, 194, 0.06);
    border-radius: 6px;
}

.border-orange {
    color: #FE8F02;
    border-radius: 4px;
    border: 2px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(to bottom, #fe8f02, #fe7401) border-box;
    padding-top: 5px;
    padding-bottom: 5px;
}

.border-green {
    border: 1px solid #1E9032;
    border-radius: 4px;
}

.border-b {
    border-bottom: 2px solid #F3F6FC;
}

.fill-orange {
    border-radius: 4px;
    background-image: linear-gradient(#fe7401, #fe8f02);
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 6px;
}

.uppercase {
    text-transform: uppercase;
}

.queue {
    box-shadow: 0px 8px 12px rgba(64, 107, 194, 0.1), 0px 4px 12px rgba(64, 107, 194, 0.06);
    border-radius: 6px;
}

.ant-modal {
    max-width: 100% !important;
    margin: 0 !important;
    width: 100% !important;
    padding: 0 !important;
    top: 0 !important;
}

.ant-modal-content {
    height: 100vh !important;
}

.ant-modal-footer {
    display: none;
}